  <body>
       <div class="navbar-header">
        <img class="img-square" src='assets/images/logo.png' height="60" width="60">
      </div> 
      <div class="container">
        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">Event Planner</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li ><a href="#myevents">My Events</a></li>
                <li><a href="#gallery">Gallery</a></li>
                <li><a href="#contact">Settings</a></li>
                <li><a href="#contact">Contact</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>

    <div class="container marketing">
      <div class="row">
        <div class="col-lg-4">
          <img class="img-square" src='assets/images/birthday.jpg' width="340" height="240">
          <h2>Birthdays</h2>
          <p text-align = "justify">Birthday parties are a great boost to any child's self-esteem. Making them feel like kings (or queens) for the day is one of the best (and most lasting) gifts you can give them.Start Here!</p>    
        </div>
        <div class="col-lg-4">
          <img class="img-square" src='assets/images/wedding.jpg' width="340" height="240">
          <h2>Weddings</h2>
          <p text-align = "justify">With endless amounts of decisions, looming deadlines, budgets to manage, and miles-long to-do lists to tend to, planning your own wedding is no simple feat. So where should you begin if you're the planner, the executor, and the bride? Right here.</p>     
        </div>
        <div class="col-lg-4">
          <img class="img-square" src='assets/images/anniversary.jpg' width="340" height="240">
          <h2>Anniversay</h2>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>         
        </div>
      </div>
        <div class="row">  
          <div class="col-lg-4">
            <img class="img-square" src='assets/images/corporate.jpg' width="340" height="240">
            <h2>Corporate Events</h2>
            <p text-align = "justify">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>     
          </div>
          <div class="col-lg-4">
            <img class="img-square" src='assets/images/other.jpg' width="340" height="240">
            <h2>Other</h2>
            <p text-align = "justify">Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          </div>
      </div>
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2017 Event Planner, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer> 
    </div> 
    </body>